
@brand-primary:                 #FFFC47;

@text-color:                    #727272;

@sidebar-bg:                    #2D2D2D;

@list-group-link-color:         #c2c2c2;
@list-group-link-hover-color:   lighten(@list-group-link-color, 15%);
@list-group-bg:                 #2A2A2A;
@list-group-border:             #323232;
@list-group-hover-bg:           #385666;

@panel-default-heading-bg:      #272727;
@list-group-link-heading-color: #fff;

@pagination-bg:                 #323232;
@pager-bg:                      @pagination-bg;


@candy-red:                     rgba(255, 8, 0, 0.5);
