@import 'bootstrap/less/variables.less';
@import 'bootstrap/less/mixins.less';

// Replace bootstrap variables
@import 'brand.less';

// Compile bootstrap theme
@import "bootstrap/less/theme.less";

@import 'sidebar.less';

html,body {
    min-height:100%;
    background-color:#000;
    color:@text-color;
}

body > .container-fluid {
    min-height:100%;
}

.panel-default > .panel-heading, 
.panel-default > .panel-footer {
    border: 0 none;
    background: @panel-default-heading-bg;
}

.panel-default > .panel-heading {
    border-bottom:1px solid darken(@panel-default-heading-bg, 15%);
}

header.header {
    &:extend(.clearfix all);
    margin-bottom:5em;
}

#lang-select {
    float:right;
}

#logo-btn {
    float: right;
    margin-right: @grid-gutter-width / 2;
}

#logo-img {
    background-color:@brand-primary;
    height:(@line-height-base * 1em);
    margin-right: @padding-large-horizontal;
    padding:1px;
}
    
.main {
    #gradient.vertical(#222222, #000000, 0, 100%);
    min-height:100%;
}

.ln {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header .btn-group {
    margin-top:-5px;
}

footer {
    margin-top:1em;
    background-color:#000;
}

#slider .bx-viewport {
    overflow: visible !important;
    width: 100% !important;

    box-shadow: none !important;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    left: 0;
}


#slider li.item {
    margin: 0;
    padding: 0;
    position: relative;
    opacity: 0.3;
    transition: opacity .5s;
    z-index:1;
    & img {
        filter:blur(5px);
        -webkit-filter: blur(5px);
    }

}

#slider li.item.active {
    opacity: 1;
    z-index:10;
    & img {
        
        filter:blur(0px);
        -webkit-filter: blur(0px);
    }
    & + li {
        z-index: 2
    }
}
/*
.bx-wrapper {
    margin: 0;
}
.bx-wrapper .bx-viewport {
    box-shadow: none !important;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    left: 0;
}
*/

#slider .bx-wrapper {
    margin-bottom: 0;
    position: relative;
    margin: 0 auto 0px;
    padding: 0;
    zoom: 1;
    width: 100%;
    & img {
        max-width: 100%;
	    display: block;
    }
}

#slider {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#bx-pager {
    text-align: center;
    padding: 1px 0 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.pager-box {
    margin: 0 auto;

    & li {
        list-style: outside none none;
        position: relative;
        display:inline-block;
    }
}

#slider .bx-wrapper .bx-controls-direction a {
    //height: 64px;
    margin-top: -16px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    //width: 64px;
    z-index: 9999;
    &.bx-next {
        right: -32px;
    }
    &.bx-prev {
        left: -32px;
    }
}

a[href^="#promotion="] {
}