<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title lang="en">Book Strong</title>
    <title lang="jp">強力なブック</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" href="style.css">

    <style>
    html:lang(en) span:lang(jp) {
        display:none;
    }

    .promotion-filter-hide, .gimmick-filter-hide, .limit-filter-hide {
        display:none !important;
    }

 
    </style>
  </head>
  <body>

	<div class="container-fluid">
	    <div class="row">
			<div class="col-sm-4 col-md-3 sidebar">
				<div class="panel panel-default">
					<div class="panel-heading">

	<form class="input-group"  role="search">
      <input type="text" class="form-control" id="wrestler-filter" aria-label="検索" placeholder="ギミック">
      <div class="input-group-btn">
        <button id="promotion-filter" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="txt">
                <span lang="jp">プロモーション</span>
                <span lang="en">Promotion</span>
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">            
            {% for promotion in promotions %}
                <li><a class="promotion-filter" data-promotion="{{ promotion.cm_id }}" href="#promotion-{{ promotion.cm_id }}" title="{{ promotion.name|escape }}">
                    <span lang="en">{{ promotion.abbrevation }}</span>
                    <span lang="jp">{{ promotion.abbrevation }}</span>
                </a></li>
            {% endfor %}
          <li role="separator" class="divider"></li>
          <li><a href="#" class="promotion-filter">All</a></li>
        </ul>
      </div><!-- /btn-group -->
    </form><!-- /input-group -->

					</div>
					<div class="panel-body">
                        <nav class="list-group rank">
                            {% for wrestler in wrestlers %}
                                <a href="#" class="list-group-item wrestler-rank-item {% if loop.index > config['items_per_page'] %}limit-filter-hide{%endif%}" data-promotion="{{ wrestler.promotion.cm_id }}" data-nr="{{ wrestler.nr }}" data-gimmicks="{% for gimmick in wrestler.gimmicks %}{{gimmick.gimmick|escape}}, {% endfor %}">
                                    <div class="bg" style="background-image:url({{wrestler.face}});"></div>
                                    <h4 class="list-group-item-heading"><span class="label label-info rank-nr">{{ wrestler.rank }}</span> {{ wrestler.name|escape }}</h4>
                                    <p class="list-group-item-text">
                                        <span lang="en">{{wrestler.promotion.name|escape}}</span>
                                    </p>
                                </a>
                            {% endfor %}
                        </nav>
					</div>
                    <div class="panel-footer">

<nav>
  <ul class="pagination" id="rank-pagination">
    <li>
      <a href="#" onclick="rank_previous_page(); return false;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li id="rank-page-1" class="active"><a href="#" onclick="rank_page(1); return false;" data-page="1">1</a></li>
    <li id="rank-page-2"><a href="#" onclick="rank_page(2); return false;" data-page="2">2</a></li>
    <li id="rank-page-3"><a href="#" onclick="rank_page(3); return false;" data-page="3">3</a></li>
    <li id="rank-page-4"><a href="#" onclick="rank_page(4); return false;" data-page="4">4</a></li>
    <li id="rank-page-5"><a href="#" onclick="rank_page(5); return false;" data-page="5">5</a></li>
    <li id="rank-page-6"><a href="#" onclick="rank_page(6); return false;" data-page="6">6</a></li>
    <li>
      <a href="#" onclick="rank_next_page(); return false;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


                    </div>
				</div>
			</div>
			
			<div class="col-sm-8 col-md-9 main">
                Asdf<!-- FOO HERE -->
			</div>
		</div>
	</div>
  
  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>

var items_per_page = {{config['items_per_page']}};
var gimmick_search_scheduler;

var rank_page_nr = 1;

function gimmick_search(gimmick) {
    search = new RegExp(gimmick, "i");
    $('.wrestler-rank-item').each(function() {
        if($(this).data('gimmicks').search(search) != -1) {
            $(this).removeClass('gimmick-filter-hide')
        } else {
            $(this).addClass('gimmick-filter-hide')
        }
    })
    rank_page();
}

function rank_page(page=1) {
    i = 1

    under = ( page - 1 ) * items_per_page
    over =  page * items_per_page

    rank_page_nr = page;

    $('a.wrestler-rank-item').each(function() {
        
        $(this).removeClass('limit-filter-hide');
        is_visible = ($(this).css('display') == 'none') ? false : true;
        if(is_visible) {
            if(i <= under || i > over) {
                $(this).addClass('limit-filter-hide');
            }
            i = i + 1
        }
    });

    $('#rank-pagination a').each(function() {
        li = $(this).parent();
        
        pager_nr = $(this).data('page')
        li.removeClass('active');
        li.removeClass('disabled');

        if(pager_nr == page) {
            li.addClass('active');
        } else if(items_per_page * pager_nr > i) {
            li.addClass('disabled');
        }
    });
}
        
function rank_previous_page() {
    if(rank_page_nr <= 1)
        return false;
    return rank_page(rank_page_nr - 1);
}

function rank_next_page() {
    return rank_page(rank_page_nr + 1);
}

$('#wrestler-filter').keyup(function() {
    clearTimeout(gimmick_search_scheduler);
    gimmick = $(this).val();
    gimmick_search_scheduler = setTimeout(function() {gimmick_search(gimmick)}, 250);
})

$('a.promotion-filter').click(function(){
    $('a.promotion-filter').each(function() {$(this).removeClass('active')});

    $(this).addClass('active');
    $('#promotion-filter .txt').html($(this).html());
    promotion = $(this).data('promotion')
    $('nav.rank a').each(function() {
        if(promotion === undefined) {
            $(this).removeClass('promotion-filter-hide');
        } else if($(this).data('promotion') == promotion) {
            $(this).removeClass('promotion-filter-hide');
        } else {
            $(this).addClass('promotion-filter-hide');
        }
    })
    rank_page();
})
    </script>
    
  </body>
</html>
		