{% extends "layout.tpl.html" %}

{% block head %}
<!-- bxSlider CSS file -->
<link href="ass/ext/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<script src="ass/ext/jquery.bxslider/jquery.bxslider.min.js"></script>

<div id="top-riser">
    <div class="bg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="carousel" id="slider">
                <ul class="slider">
                    {% for slide in carousel %}
                    <li class="item">
                        {{ slide }}
                    </li>
                    {% endfor %}
                </ul>
                <div id="bx-pager">
                    <ul class="pager-box">
                    {#
                        <li>
                            <a data-slide-index="{{ loop.index - 1 }}" href=""><img src="{{ wrestler|img('70x29') }}"></a>
                        </li>
                    #}

                    </ul>
                </div>
            </div>
            <script>

$(document).ready(function () {
    var activeClass = 'active';
    var mainSlider = $('.slider').bxSlider({
      pagerCustom: '#bx-pager',
      //pager: false,

      slideWidth: 664,

      auto: true,
      minSlides: 1,
      maxSlides: 1,
      slideMargin: 0,
      //hover時一時停止
      autoHover: true,
      onSlideAfter: function () {
        mainSlider.startAuto();
      },
      //キャプション表示
      captions: true,
      //activeClass付与

      onSliderLoad: function () {
        //mainSlider.children('li').eq(1).addClass(activeClass);
        $('li', this).eq(1).addClass(activeClass);
      },
      onSlideAfter: function ($slideElement, oldIndex, newIndex) {
        $('li', this).removeClass(activeClass).eq(newIndex + 1).addClass(activeClass);
      }
    });
});
            </script>

        </div>
    </div>

</div>

{% endblock %}
