<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title lang="en">Book Strong</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/gif" href="ass/logo.gif">
    
    <link rel="stylesheet" href="style.css">

    <style>
    html:lang(en) span:lang(en) {
        display:;
    }
    html:lang(en) span:lang(ja) {
        display:none;
    }
    html:lang(ja) span:lang(ja) {
        display:;
    }
    html:lang(ja) span:lang(en) {
        display:none;
    }

    .promotion-filter-hide, .gimmick-filter-hide, .limit-filter-hide {
        display:none !important;
    }

    </style>
  </head>
  <body>

	<div class="container-fluid">
	    <div class="row">
			<div class="col-sm-5 col-md-4 col-lg-3 sidebar">
				<div class="panel panel-default">
					<div class="panel-heading">

	<form class="input-group"  role="search">
      <input type="text" class="form-control" id="wrestler-filter" aria-label="検索" placeholder="ギミック">
      <div class="input-group-btn">
        <button id="promotion-filter" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="txt">
                <span lang="en">Promotion</span>
            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">            
            {% for promotion in promotions %}
                <li><a class="promotion-filter" data-promotion="{{ promotion.cm_id }}" href="#promotion-{{ promotion.cm_id }}">
                    <span lang="en" title="{{ promotion.name|escape }}">{{ promotion.abbrevation }}</span>
                </a></li>
            {% endfor %}
          <li role="separator" class="divider"></li>
          <li><a href="#" class="promotion-filter">All</a></li>
        </ul>
      </div><!-- /btn-group -->
    </form><!-- /input-group -->

					</div>
					<div class="panel-body">
                        <nav class="list-group rank">
                            {% for wrestler in ranking %}
                                <a href="#" class="list-group-item wrestler-rank-item {% if loop.index > config['items_per_page'] %}limit-filter-hide{%endif%}" data-promotion="{{ wrestler.promotion.cm_id }}" data-nr="{{ wrestler.nr }}" data-gimmicks="{% for gimmick in wrestler.gimmicks %}{{gimmick.gimmick|escape}}, {% endfor %}">
                                    <div class="bg" style="background-image:url({{wrestler|img(t='thumb')}});"></div>
                                    <h4 class="list-group-item-heading"><span class="label label-info rank-nr">{{ wrestler.rank }}</span> 
                                        <div class="ln"><span lang="en">{{ wrestler.name|escape }}</span></div>
                                    </h4>
                                    <div class="list-group-item-text ln">
                                        <span lang="en">{{wrestler.promotion.name|escape}}</span>
                                    </div>
                                </a>
                            {% endfor %}
                        </nav>
					</div>
                    <div class="panel-footer">

<nav>
  <ul class="pagination" id="rank-pagination">
    <li>
      <a href="#" onclick="rank_previous_page(); return false;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li id="rank-page-1" class="active"><a href="#" onclick="rank_page(1); return false;" data-page="1">1</a></li>
    <li id="rank-page-2"><a href="#" onclick="rank_page(2); return false;" data-page="2">2</a></li>
    <li id="rank-page-3"><a href="#" onclick="rank_page(3); return false;" data-page="3">3</a></li>
    <li id="rank-page-4"><a href="#" onclick="rank_page(4); return false;" data-page="4">4</a></li>
    <li id="rank-page-5"><a href="#" onclick="rank_page(5); return false;" data-page="5">5</a></li>
    <li>
      <a href="#" onclick="rank_next_page(); return false;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

                    </div>
                </div>
            </div>

            <div class="col-sm-7 col-md-8 col-lg-9 main">
                <header class="header">

                    <div id="lang-select" class="btn-group btn-group-sm" data-toggle="buttons">
                        <label class="btn btn-info active" lang="ja">
                            <input type="radio" name="lang" onchange="$('html').attr('lang', this.id);" id="ja" autocomplete="off" checked>
                            日本語
                        </label>
                        <label class="btn btn-info" lang="en">
                            <input type="radio" name="lang" onchange="$('html').attr('lang', this.id);" id="en" autocomplete="off">
                            English
                        </label>
                    </div>

                    <div class="btn-group" role="group" id="logo-btn">
                        <a type="button" class="btn btn-primary">
                            <img src="ass/logo.gif" class="img-responsive img-circle" align="left" id="logo-img" />
                            <span lang="en">Book Strong</span>
                        </a>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span lang="en">Copyrights</span></a></li>
                            <li><a href="#"><span lang="en">Method</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="https://github.com/isoteemu/bookstrong"><img src="https://www.google.com/s2/favicons?domain=https://github.com"><span lang="en">Source</span></a></li>
                        </ul>
                    </div>

                </header>

                <div>
                {% block content %}{% endblock %}
                </div>

            </div>
			<footer class="col-sm-7 col-md-8">
                Footer
			</footer>
		</div>
	</div>
  
  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>

var items_per_page = {{config['items_per_page']}};
var gimmick_search_scheduler;

var rank_page_nr = 1;

    </script>
    <script src="layout.js"></script>
    
  </body>
</html>
		